@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="menu-button form-check-inline" asp-area="Identity" asp-page="/Account/Manage/Index" title="Dane konta" >@User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-link menu-button">Wyloguj</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="menu-button" asp-area="Identity" asp-page="/Account/Register">Zarejestruj</a>
        </li>
        <li class="nav-item">
            <a class="menu-button" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
        </li>
    }
</ul>
